<div class="mt-3">
    <div class="row">
        <div class="col-md-12 text-center stats">
            <h3 class="font-weight-bold mb-3">Market Depth (<%= data.token %>) <i class="fas fa-info-circle" style="cursor:pointer" onclick="SE.ShowDialog('token_info', SE.GetToken(data.token));"></i></h3>
            <small class="m-1 label">Last: <span class="font-weight-bold text-dark"><%= data.trade_history && data.trade_history.length > 0 ? parseFloat(data.trade_history[0].price) + ' HIVE / ' + usdFormat(data.trade_history[0].price) : '--' %></span></small>
            <small class="m-1 label">24h Vol: <span class="font-weight-bold text-dark"><%= addCommas(parseFloat(SE.Tokens.find(t => t.symbol == data.token).volume).toFixed()) + ' HIVE / ' + usdFormat(SE.Tokens.find(t => t.symbol == data.token).volume, 2) %></span></small>
            <small class="m-1 label">Bid: <a id="highest-bid" class="font-weight-bold text-dark"><%= data.buy_orders && data.buy_orders.length > 0 ? parseFloat(data.buy_orders[0].price) + ' HIVE' : '--' %></a></small>
            <small class="m-1 label">Ask: <a id="lowest-ask" class="font-weight-bold text-dark"><%= data.sell_orders && data.sell_orders.length > 0 ? parseFloat(data.sell_orders[0].price) + ' HIVE' : '--' %></a></small>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 text-center">
            <div class="chart-container">
                <div class="chart-header">
                    <div class="chart-options">
                        <div class="chart-options-buttons text-center">
                            <button class="btn chart-icon set-chart-candle">
                                <img src="images/candlestick-chart.svg"
                                     alt="cs-icon"
                                     width="20px" /><span>Candlestick</span>
                            </button>
                            <button class="btn chart-icon set-chart-depth">
                                <img src="images/area-chart.svg"
                                     alt="ac-icon"
                                     width="20px" /><span>Depth</span>
                            </button>
                        </div>
                    </div>
                </div>

                <canvas id="candlestick_chart"></canvas>
                <canvas id="market_depth_chart" style="display: none;"></canvas>
            </div>
        </div>
    </div>

    <!-- buy/sell forms -->
    <% if(SE.User) { %>
        <div class="row">
            <div class="col-md-6 text-left p-3 buy-form">
                <h4 class="font-weight-bold">Buy
                    <%= data.token %>
                </h4>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Price</label>
                        <input type="number" id="buyPrice" placeholder="0.0" class="text-right" style="width: 180px;">
                        <div class="input-group-append">
                            <span class="input-group-text">HIVE/<%= data.token %></span>
                        </div>
                        <div class="invalid-feedback">
                            Required field. Price must be a number greater than 0.
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Quantity</label>
                        <input type="number" id="buyQuantity" placeholder="0" class="text-right" style="width: 180px;">
                        <div class="input-group-append">
                            <span class="input-group-text"><%= data.token %></span>
                        </div>
                        <div class="invalid-feedback">
                            Required field. Price must be a number greater than 0.
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Total</label>
                        <input type="number" id="buyTotal" placeholder="0.0" class="text-right" style="width: 180px;" readonly disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">Hive</span>
                        </div>
                        <div class="invalid-feedback">
                            Your balance is too low to confirm this order.
                        </div>
                    </div>
                </div>
                <div class="group mt-2 pl-1 pr-2">
                    <span class="small float-left">
						<small class="text-info">Your Balance:
							<button id="user-steemp-balance" onclick="$('#buyQuantity').val((data.user_hive_balance.balance / data.sell_orders[0].price).toFixed(data.precision)); UpdateBuyOrderTotal();" class="btn btn-link font-weight-bold text-dark" style="font-size: unset; padding: unset;"><%= data.user_hive_balance ? addCommas(parseFloat(data.user_hive_balance.balance)) + ' HIVE' : '-' %></button>
						</small>
						<br>
						<small class="text-info">Lowest Ask:
							<% if(data.sell_orders && data.sell_orders.length > 0) { %>
								<button id="lowest-ask" onclick="$('#buyPrice').val(data.sell_orders[0].price); UpdateBuyOrderTotal();" type="button" class="btn btn-link font-weight-bold text-dark" style="font-size: unset; padding: unset;"><%= data.sell_orders[0].price %></button>
							<% } else { %>
								<span class="font-weight-bold text-dark">-</span>
                    <% } %>
                        </small>
                        </span>
                        <button class="btn btn-primary btn-sm float-right" onclick="btnSubmitOrder('buy');" style="margin: auto;">Buy <%= data.token %></button>
                </div>
            </div>
            <div class="col-md-6 text-left p-3 sell-form">
                <h4 class="font-weight-bold">Sell
                    <%= data.token %>
                </h4>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Price</label>
                        <input type="number" id="sellPrice" placeholder="0.0" class="text-right" style="width: 180px;">
                        <div class="input-group-append">
                            <span class="input-group-text">HIVE/<%= data.token %></span>
                        </div>
                        <div class="invalid-feedback">
                            Required field. Price must be a number greater than 0.
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Quantity</label>
                        <input type="number" id="sellQuantity" placeholder="0" class="text-right" style="width: 180px;">
                        <div class="input-group-append">
                            <span class="input-group-text"><%= data.token %></span>
                        </div>
                        <div class="invalid-feedback">
                            Required field. Price must be a number greater than 0.
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="input-group mb-1">
                        <label style="min-width: 90px;">Total</label>
                        <input type="number" id="sellTotal" placeholder="0.0" class="text-right" style="width: 180px;" readonly disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">HIVE</span>
                        </div>
                        <div class="invalid-feedback">
                            Your balance is too low to confirm this order.
                        </div>
                    </div>
                </div>
                <div class="group mt-2 pl-1 pr-2">
                    <span class="small float-left">
						<small class="text-info">Your Balance: <button id="user-token-balance" onclick="$('#sellQuantity').val(data.user_token_balance.balance); UpdateSellOrderTotal();" class="btn btn-link font-weight-bold text-dark" style="font-size: unset; padding: unset;"><%= data.user_token_balance ? addCommas(parseFloat(data.user_token_balance.balance)) + ' ' + data.token : '-' %></button></small><br>
						<small class="text-info">Highest Bid:
							<% if(data.buy_orders && data.buy_orders.length > 0) { %>
								<button id="highest-bid" onclick="$('#sellPrice').val(data.buy_orders[0].price); UpdateSellOrderTotal();" type="button" class="btn btn-link font-weight-bold text-dark" style="font-size: unset; padding: unset;"><%= data.buy_orders[0].price %></button>
							<% } else { %>
								<span class="font-weight-bold text-dark">-</span>
                    <% } %>
                        </small>
                        </span>
                        <button class="btn btn-primary btn-sm float-right" onclick="btnSubmitOrder('sell');" style="margin: auto;">Sell <%= data.token %></button>
                </div>
            </div>
        </div>
        <% } %>

            <!-- active buy/sell orders -->
            <div class="row">
                <div class="col-md-6 text-left p-3">
                    <h4 class="font-weight-bold">Buy Orders</h4>
                    <div class="ordertable-container">
                        <table id="buy_order_table" class="tokensTable interactiveTable" data-sorting="true"></table>
                    </div>
                </div>
                <div class="col-md-6 text-left p-3">
                    <h4 class="font-weight-bold">Sell Orders</h4>
                    <div class="ordertable-container">
                        <table id="sell_order_table" class="tokensTable interactiveTable" data-sorting="true"></table>
                    </div>
                </div>
            </div>

            <!-- your orders -->
            <% if(SE.User) { %>
                <div class="row">
                    <div class="col-md-12 text-left p-3">
                        <h4 class="font-weight-bold">My Open Orders</h4>
                        <div class="ordertable-container">
                            <table id="user_order_table" class="tokensTable interactiveTable" data-sorting="true"></table>
                            <button class="btn btn-danger btn-sm btnCancelSelected text-right float-right" style="display: none;"><span>Cancel selected orders</span></button>
                        </div>
                    </div>
                </div>
                <% } %>

                    <!-- trade history -->
                    <div class="row">
                        <div class="col-md-12 text-left p-3">
                            <h4 class="font-weight-bold">Trade History</h4>
                            <div class="ordertable-container">
                                <table id="trade_history_table" class="tokensTable interactiveTable" data-sorting="true"></table>
                            </div>
                        </div>
                    </div>
</div>

<script>
    var data = <%= JSON.stringify(data) %>;

    function OrderTypeColumn(value, options, rowdata) {
        return `<strong class="text-${value === 'buy' ? 'success' : 'danger'}">${value.toUpperCase()}</strong>`
    }

    function OrderAmountColumn(value, options, rowdata) {
        return addCommas(value.toFixed(data.precision));
    }

    function HiveAmountColumn(value, options, rowdata) {
        return addCommas(value.toFixed(5));
    }

    function OrderPriceColumn(value, options, rowdata) {
        return '<strong>' + value.toFixed(5) + '</strong>'
    }

    function UpdateOrderTotal(type) {
        var price = parseFloat($("#" + type + "Price").val());
        var quantity = parseFloat($("#" + type + "Quantity").val());

        if (price && price > 0 && quantity && quantity > 0) {
            $("#" + type + "Total").val(+(price * quantity).toFixed(5));
        }
    }

    function UpdateBuyOrderTotal() {
        return UpdateOrderTotal('buy')
    }

    function UpdateSellOrderTotal() {
        return UpdateOrderTotal('sell')
    }

    $('#buyPrice').on('input', UpdateBuyOrderTotal);
    $('#buyQuantity').on('input', UpdateBuyOrderTotal);

    $('#sellPrice').on('input', UpdateSellOrderTotal);
    $('#sellQuantity').on('input', UpdateSellOrderTotal);

    $('#buy_order_table').footable({
        "columns": [{
            "name": "total",
            "title": "Total HIVE",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }, 
        { "name": "account", "title": "Buyer" },
        {
            "name": "amountLocked",
            "title": "HIVE",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }, {
            "name": "quantity",
            "title": data.token + " (Qty)",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderAmountColumn
        }, {
            "name": "price",
            "title": "Price",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderPriceColumn
        }],
        "rows": data.buy_orders.slice(0, 15)
    });

    $('#buy_order_table').on("click", 'tr', function() {
        var selectedPrice = $(this).closest("tr") // Finds the closest row <tr>
            .find("td:nth-child(4)") // Finds the 'price' <td> element
            .text(); // Retrieves the price

        $("#buyPrice").val(selectedPrice);
        $("#sellPrice").val(selectedPrice);
    });


    $('#sell_order_table').footable({
        "columns": [{
            "name": "price",
            "title": "Price",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderPriceColumn
        }, 
        { "name": "account", "title": "Seller" },
        {
            "name": "quantity",
            "title": data.token + " (Qty)",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderAmountColumn
        }, {
            "name": "amountLocked",
            "title": "HIVE",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }, {
            "name": "total",
            "title": "Total HIVE",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }],
        "rows": data.sell_orders.slice(0, 15)
    });

    $('#sell_order_table').on("click", 'tr', function() {
        var selectedPrice = $(this).closest("tr") // Finds the closest row <tr>
            .find("td:nth-child(1)") // Finds the 'price' <td> element
            .text(); // Retrieves the price

        $("#buyPrice").val(selectedPrice);
        $("#sellPrice").val(selectedPrice);
    });

    $('#user_order_table').footable({
        "columns": [{
            "name": "cbTxId",
            "title": "",
            "formatter": function (value, options, rowdata) {
                var actions = $('<div/>');
                var cbTxId = $('<input type="checkbox" class="cbTxId" value="' + rowdata.txId + '" />').appendTo(actions);
                var hfTxType = $('<input type="hidden" class="txType txType_' + rowdata.txId + '" value="' + rowdata.type + '" />').appendTo(actions);                

                return actions;
            }
        },
        {
            "name": "timestamp_string",
            "title": "Date Created"
        }, {
            "name": "txId",
            "title": "ID"
        }, {
            "name": "type",
            "title": "Type",
            "formatter": OrderTypeColumn
        }, {
            "name": "price",
            "title": "Price",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderPriceColumn
        }, {
            "name": "quantity",
            "title": data.token + " (Qty)",
            "classes": "text-right"
        }, {
            "name": "total",
            "title": "Hive",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }, {
            "name": "action",
            "title": "Action",
            "classes": "text-center",
            "formatter": function(value, options, rowdata) {
                var actions = $('<div/>')

                var cancelButton = ($('<button/>', {
                            'class': 'btn btn-danger btn-sm'
                        })
                        .append('<span>Cancel</span>')
                        .on("click", this, function() {
                            btnCancelOrder(rowdata.type, rowdata.txId);
                        }))
                    .appendTo(actions);

                return actions;
            }
        }],
        "rows": data.user_orders
    });

    $('#user_order_table').on("click", 'tr', function() {
        var selectedPrice = $(this).closest("tr") // Finds the closest row <tr>
            .find("td:nth-child(5)") // Finds the 'price' <td> element
            .text(); // Retrieves the price

        $("#buyPrice").val(selectedPrice);
        $("#sellPrice").val(selectedPrice);
    });

    $('#trade_history_table').footable({
        "columns": [{
            "name": "timestamp_string",
            "title": "Date"
        }, {
            "name": "txId",
            "title": "ID"
        }, 
        { "name": "seller", "title": "Seller" },
        { "name": "buyer", "title": "Buyer" },
        {
            "name": "type",
            "title": "Type",
            "formatter": OrderTypeColumn
        }, {
            "name": "price",
            "title": "Price",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderPriceColumn
        }, {
            "name": "quantity",
            "title": "Quantity",
            "type": "number",
            "classes": "text-right",
            "formatter": OrderAmountColumn
        }, {
            "name": "total",
            "title": "Total HIVE",
            "type": "number",
            "classes": "text-right",
            "formatter": HiveAmountColumn
        }, ],
        "rows": data.trade_history
    });

    $('#trade_history_table').on("click", 'tr', function() {
        var selectedPrice = $(this).closest("tr") // Finds the closest row <tr>
            .find("td:nth-child(4)") // Finds the 'price' <td> element
            .text(); // Retrieves the price

        $("#buyPrice").val(selectedPrice);
        $("#sellPrice").val(selectedPrice);
    });

    // prepare chart datasets
    var buyOrderLabels = _.uniq(data.buy_orders.map(o => parseFloat(o.price)));
    var buyOrderDataset = [];
    var buyOrderCurrentVolume = 0;
    buyOrderLabels.forEach(label => {
        let matchingBuyOrders = data.buy_orders.filter(o => parseFloat(o.price) === label);

        if (matchingBuyOrders.length === 0) {
            buyOrderDataset.push(null);
        } else {
            buyOrderCurrentVolume = buyOrderCurrentVolume + matchingBuyOrders.reduce((acc, val) => acc + parseFloat(val.quantity), 0);
            buyOrderDataset.push(buyOrderCurrentVolume);
        }
    });
    buyOrderLabels.reverse();
    buyOrderDataset.reverse();

    var sellOrderLabels = _.uniq(data.sell_orders.map(o => parseFloat(o.price)));
    var sellOrderDataset = _.fill(Array(buyOrderDataset.length), null);
    var sellOrderCurrentVolume = 0;
    sellOrderLabels.forEach(label => {
        let matchingSellOrders = data.sell_orders.filter(o => parseFloat(o.price) === label);

        if (matchingSellOrders.length === 0) {
            sellOrderDataset.push(null);
        } else {
            sellOrderCurrentVolume = sellOrderCurrentVolume + matchingSellOrders.reduce((acc, val) => acc + parseFloat(val.quantity), 0);
            sellOrderDataset.push(sellOrderCurrentVolume);
        }
    });

    // draw chart
    var chart_ctx = $("#market_depth_chart");
    var market_chart = new Chart(chart_ctx, {
        type: 'line',
        legend: {
            display: false
        },
        data: {
            labels: buyOrderLabels.concat(sellOrderLabels),
            datasets: [{
                label: 'Buy',
                steppedLine: 'after',
                borderColor: '#88e86b',
                backgroundColor: '#a9ea96',
                data: buyOrderDataset
            }, {
                label: 'Sell',
                steppedLine: 'before',
                borderColor: '#e45858',
                backgroundColor: '#e87f7f',
                data: sellOrderDataset
            }]
        },
        options: {
            steppedLine: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true//,
                        //max: 100000
                    }
                }]
            },
            plugins: {
                zoom: {
                    // Container for pan options
                    pan: {
                        // Boolean to enable panning
                        enabled: true,

                        // Panning directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow panning in the y direction
                        mode: 'xy'
                    },

                    // Container for zoom options
                    zoom: {
                        // Boolean to enable zooming
                        enabled: true,

                        // Zooming directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow zooming in the y direction
                        mode: 'xy',
                    }
                }
            }
        }
    });

    var chart_ctx_candle = $("#candlestick_chart");
    var candle_chart = new Chart(chart_ctx_candle, {
        type: 'candlestick',
        legend: {
            display: false
        },
        data: {
            datasets: [{
                label: 'Candlestick',
                data: data.market_history
            }]
        },
        options: {
            steppedLine: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true//,
                        //max: 100000
                    }
                }]
            },
            plugins: {
                zoom: {
                    // Container for pan options
                    pan: {
                        // Boolean to enable panning
                        enabled: true,

                        // Panning directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow panning in the y direction
                        mode: 'xy'
                    },

                    // Container for zoom options
                    zoom: {
                        // Boolean to enable zooming
                        enabled: true,

                        // Zooming directions. Remove the appropriate direction to disable 
                        // Eg. 'y' would only allow zooming in the y direction
                        mode: 'xy',
                    }
                }
            }
        }
    });

    function btnSubmitOrder(type) {
        if (type !== 'buy' && type !== 'sell') {
            console.error('Invalid order type: ', type)
            return;
        }

        let isValid = true;
        $('.' + type + '-form input').removeClass("is-invalid");

        var price = $("#" + type + "Price").val();
        var quantity = $("#" + type + "Quantity").val();

        if (isNaN(price) || price <= 0) {
            $('#' + type + 'Price').addClass("is-invalid");
            isValid = false;
        }

        if (isNaN(quantity) || quantity <= 0) {
            $('#' + type + 'Quantity').addClass("is-invalid");
            isValid = false;
        } else if (type === 'sell' && quantity > data.user_token_balance) {

        }

        // check for valid user balance
        if (isValid) {
            if (type === 'sell' && parseFloat(quantity) > parseFloat(data.user_token_balance.balance)) {
                $('#' + type + 'Total').addClass("is-invalid");
                isValid = false;
            }

            if (type === 'buy' && (parseFloat(quantity) * parseFloat(price)) > data.user_hive_balance.balance) {
                $('#' + type + 'Total').addClass("is-invalid");
                isValid = false;
            }
        }

        if (isValid) {
            // show confim dialog
            SE.ShowMarketOrderDialog(type, data.token, quantity, price);
        }
    }

    function btnCancelOrder(type, orderId) {
        if (type !== 'buy' && type !== 'sell') {
            console.error('Invalid order type: ', type)
            return;
        }

        SE.ShowMarketCancelDialog(type, orderId, data.token);
    }

    function btnCancelSelectedOrders() {
        let selectedOrderData = [];
        let selectedOrders = $(".cbTxId:checked");
        if (selectedOrders.length > 0) {
            for (var i = 0; i < selectedOrders.length; i++) {
                let order = selectedOrders[i];
                let txId = $(order).val();
                let txType = $(".txType_" + txId).val();
                let symbol = data.token;

                selectedOrderData.push({ txId: txId, txType: txType, symbol: symbol });
            }
        }

        if (selectedOrderData.length > 0) {
            SE.ShowMarketCancelSelectedDialog(selectedOrderData);
        }
    }

    $(document).on("click", ".btnCancelSelected", function () {
        btnCancelSelectedOrders();
    })

    $(document).on("click", ".cbTxId", function () {
        let numberChecked = $(".cbTxId:checked").length;
        if (numberChecked > 0) {
            $(".btnCancelSelected").show();
        } else {
            $(".btnCancelSelected").hide();
        }
    })

    $(document).on("click", ".set-chart-depth", function () {
        $("#candlestick_chart").hide();
        $("#market_depth_chart").show();
    });

    $(document).on("click", ".set-chart-candle", function () {
        $("#candlestick_chart").show();
        $("#market_depth_chart").hide();
    });
</script>
